<div>
  <h3 id="navigator_tree" translate>Navigator</h3>
  <div class="panel panel-default" id="navigator">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a ng-click="vm.navigatePath([])">/</a><a
          ng-repeat="name in vm.navigator_path track by $index"
          ng-click="vm.navigatePath(vm.navigator_path.slice(0, $index+1))">{{ name }}/</a>
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="item in vm.navigator_items | orderBy:['-Type','Name']">
        <a class="thumbnail navigator-item" ng-click="vm.itemClick(item, $event)" ng-mouseenter="vm.itemMenu(item, $event)" uib-tooltip="{{ item.Name }}">
          <div class="navigator-item-thumbnail">
            <img class="navigator-item-img" src="{{ item.Preview }}">
          </div>
          <div class="caption"><p class="file_name_text">{{ item.Name }}</p></div>
        </a>
      </div>
    </div>
  </div>
</div>
