<!DOCTYPE html>
<html lang="en" ng-app="app" class="ng-cloak">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="shortcut icon" href="{{'assets/img/favicon-'+nyanshareStatus()+'.generated.png'}}"/>
  <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#0882c8"/>

  <title ng-bind="thisDeviceName() + ' | NyanShare'"></title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="assets/font/raleway.css" rel="stylesheet"/>
  <link href="vendor/fork-awesome/css/fork-awesome.min.css" rel="stylesheet"/>
  <link href="vendor/fork-awesome/css/v5-compat.min.css" rel="stylesheet"/>
  <link href="vendor/angular-ui-notification/angular-ui-notification.min.css" rel="stylesheet"/>
  <link href="vendor/ng-tags-input/ng-tags-input.min.css" rel="stylesheet"/>
  <link href="assets/css/overrides.css" rel="stylesheet"/>
  <link href="assets/css/theme.css" rel="stylesheet"/>
</head>

<body>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <span class="navbar-brand" aria-hidden="true">
        <img class="logo hidden-xs" src="assets/img/logo-horizontal.svg" height="32" width="117" alt=""/>
        <img class="logo hidden visible-xs" src="assets/img/favicon-default.generated.png" height="32" alt=""/>
      </span>
      <p class="navbar-text hidden-xs" ng-class="{'hidden-sm':upgradeInfo && upgradeInfo.newer}">{{thisDeviceName()}}</p>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="upgradeInfo && upgradeInfo.newer" class="upgrade-newer">
          <button type="button" class="btn navbar-btn btn-primary btn-sm" data-toggle="modal" data-target="#upgrade">
            <span class="fas fa-arrow-circle-up"></span>
            <span class="hidden-xs" translate translate-value-version="{{upgradeInfo.latest}}">Upgrade To {%version%}</span>
          </button>
        </li>
        <li ng-if="upgradeInfo && upgradeInfo.majorNewer" class="upgrade-newer-major">
          <button type="button" class="btn navbar-btn btn-danger btn-sm" data-toggle="modal" data-target="#majorUpgrade">
            <span class="fas fa-arrow-circle-up"></span>
            <span class="hidden-xs" translate translate-value-version="{{upgradeInfo.latest}}">Upgrade To {%version%}</span>
          </button>
        </li>
        <li class="dropdown" language-select></li>
        <li>
          <a class="navbar-link" href="https://www.state-of-the-art.io/projects/nyansync/" target="_blank">
            <span class="fas fa-question-circle"></span>
            <span class="hidden-xs" translate>Help</span>
          </a>
        </li>
        <li class="dropdown action-menu" ng-if="account">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="fas fa-user-circle"></span>
            <span class="hidden-xs" translate>{{ account.Name }}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="vm.userProfile()"><span class="fas fa-fw fa-cog"></span>&nbsp;<span translate>Account</span></a></li>
            <li><a href="" ng-click="account.Logout()"><span class="fas fa-fw fa-power-off"></span>&nbsp;<span translate>Logout</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Basic container -->
  <div class="container" id="content">
    <div ng-view></div>
  </div>

  <!-- Bottom bar -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-link" href="https://www.state-of-the-art.io/projects/nyansync/" target="_blank"><span class="fas fa-home"></span>&nbsp;<span translate>Home page</span></a></li>
        <li><a class="navbar-link" href="https://www.state-of-the-art.io/projects/nyansync/" target="_blank"><span class="fas fa-book"></span>&nbsp;<span translate>Documentation</span></a></li>
        <li><a class="navbar-link" href="https://www.state-of-the-art.io/projects/nyansync/" target="_blank"><span class="fas fa-question-circle"></span>&nbsp;<span translate>Support</span></a></li>
        <li><a class="navbar-link" href="https://www.state-of-the-art.io/projects/nyansync/" target="_blank"><span class="fas fa-bar-chart"></span>&nbsp;<span translate>Statistics</span></a></li>
        <li><a class="navbar-link" href="https://github.com/state-of-the-art/NyanSync/releases" target="_blank"><span class="far fa-file-alt"></span>&nbsp;<span translate>Changelog</span></a></li>
        <li><a class="navbar-link" href="https://github.com/state-of-the-art/NyanSync/issues" target="_blank"><span class="fas fa-bug"></span>&nbsp;<span translate>Bugs</span></a></li>
        <li><a class="navbar-link" href="https://github.com/state-of-the-art/NyanSync" target="_blank"><span class="fas fa-wrench"></span>&nbsp;<span translate>Source Code</span></a></li>
      </ul>
    </div>
  </nav>

  <!-- vendor scripts -->
  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-resource.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="vendor/angular/ngStorage.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/angular-ui-notification/angular-ui-notification.min.js"></script>
  <script type="text/javascript" src="vendor/ng-tags-input/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="vendor/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!-- / vendor scripts -->

  <!-- gui application code -->
  <script type="text/javascript" src="nyanshare/app.js"></script>

  <script type="text/javascript" src="nyanshare/services/auth.service.js"></script>
  <script type="text/javascript" src="nyanshare/services/source.service.js"></script>
  <script type="text/javascript" src="nyanshare/services/navigator.service.js"></script>
  <script type="text/javascript" src="nyanshare/services/dropdown.service.js"></script>
  <script type="text/javascript" src="nyanshare/services/access.service.js"></script>
  <script type="text/javascript" src="nyanshare/services/user.service.js"></script>

  <script type="text/javascript" src="nyanshare/login/login.controller.js"></script>
  <script type="text/javascript" src="nyanshare/home/home.controller.js"></script>
  <script type="text/javascript" src="nyanshare/sources/sources.controller.js"></script>
  <script type="text/javascript" src="nyanshare/navigator/navigator.controller.js"></script>
  <script type="text/javascript" src="nyanshare/modal/modal.source.controller.js"></script>
  <script type="text/javascript" src="nyanshare/modal/modal.question.controller.js"></script>
  <script type="text/javascript" src="nyanshare/modal/modal.access.controller.js"></script>
  <script type="text/javascript" src="nyanshare/modal/modal.user.controller.js"></script>
  <!-- / gui application code -->

</body>
</html>
