<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ vm.title }}</h3>
</div>
<form name="form" role="form" ng-submit="vm.submit()">
  <div class="modal-body" id="modal-body">
    <div class="form-group" ng-class="{ 'has-error': form.user_login.$dirty && form.user_login.$invalid }">
      <label for="user_login">Login</label>
      <input type="text" ng-model="user.Login" name="user_login" class="form-control" placeholder="Unique login for a user" required my-user-unique />
      <span ng-show="form.user_login.$dirty && form.user_login.$error.required" class="help-block">Login is required</span>
      <span ng-show="form.user_login.$dirty && form.user_login.$error.userunique" class="help-block">Specified login is not unique</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.user_name.$dirty && form.user_name.$invalid }">
      <label for="user_name">Name</label>
      <input type="text" ng-model="user.Name" name="user_name" class="form-control" placeholder="User name like 'John Doe' or 'Яж Программист'" required />
      <span ng-show="form.user_name.$dirty && form.user_name.$error.required" class="help-block">Name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.user_roles.$dirty && form.user_roles.$invalid }">
      <label for="user_roles">Roles</label>
      <tags-input ng-model="user_roles" name="user_roles" placeholder="User roles to access the API"
          add-on-paste="true"
          min-tags="1"
          on-tag-adding="vm.checkRole($tag)"
          key-property="Id"
          display-property="Id">
        <auto-complete source="vm.loadRoles($query)"
          min-length="0"
          load-on-focus="true"
          load-on-empty="true"
          max-results-to-show="32"
          debounce-delay="500"></auto-complete>
      </tags-input>
      <span ng-show="form.user_roles.$dirty && form.user_roles.$error.valid" class="help-block">Role should be set</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.user_password.$dirty && form.user_password.$invalid }">
      <label for="user_password">Password</label>
      <input type="password" ng-model="user.Password" name="user_password" class="form-control" placeholder="Please enter strong password" required />
      <span ng-show="form.user_password.$dirty && form.user_password.$error.required" class="help-block">Password is required</span>
    </div>
  </div>
  <div class="modal-footer">
    <i ng-if="vm.data_loading" class="fa fa-spinner loading-progress" aria-hidden="true"></i>
    <span class="tooltip-wrapper" title="{{ !form.$dirty || form.$invalid ? 'Form not changed or invalid' : '' }}">
      <button class="btn btn-primary" type="submit" ng-disabled="!form.$dirty || form.$invalid || vm.data_loading">
        <span class="fas fa-check"></span>&nbsp;<span translate>Save</span>
      </button>
    </span>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
      <span class="fas fa-times"></span>&nbsp;<span translate>Cancel</span>
    </button>
    <span class="tooltip-wrapper pull-left" title="{{ form.$dirty ? 'Remove not available for changed item' : '' }}">
      <button type="button" class="btn btn-warning" ng-click="vm.remove()" ng-if="user._orig_login" ng-disabled="form.$dirty">
        <span class="fas fa-minus-circle"></span>&nbsp;<span translate>Remove</span>
      </button>
    </span>
  </div>
</form>
